<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-4">update Your Status</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="fs-4 mt-5 text-center">
                Once you've added a captivating manhwa to your collection, our website makes updating its status a seamless experience. 
                With just a few simple clicks, you can mark chapters as read, ensuring you keep track of your progress effortlessly. 
                Stay engaged and organized as you delve deeper into the story, all while enhancing your overall manhwa reading experience on our platform.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <form class="border border-2 border-secondary p-3 rounded mt-4">
                <div class="form-floating mb-2">
                    <input [(ngModel)]="manhwa.rank" name="rank" type="text" class="form-control"  placeholder="Rank">
                    <label>Rank</label>
                  </div>
                  <div class="form-floating mb-2">
                    <input [(ngModel)]="manhwa.manhwaname" name="name" type="text" class="form-control"  placeholder="Manhwa Name">
                    <label>Manhwa Name</label>
                  </div>
                  <div class="form-floating mb-2">
                    <input [(ngModel)]="manhwa.description" name="Description" type="text" class="form-control"  placeholder="Description">
                    <label>Description</label>
                  </div>
                  <div class="form-floating mb-2">
                    <input [(ngModel)]="manhwa.photo" name="photo" type="text" class="form-control"  placeholder="URL">
                    <label>Photo URL</label>
                  </div>
                  <div class="form-floating mb-2">
                    <input [(ngModel)]="manhwa.totalnoofchapters" name="totalchapters" type="text" class="form-control"  placeholder="Number">
                    <label>Total no of Chapters</label>
                  </div>
                  <div class="form-floating mb-2">
                    <input [(ngModel)]="manhwa.completed" name="completed" type="text" class="form-control"  placeholder="email">
                    <label>Completed (yes/no)</label>
                  </div>
                  <div class="form-floating mb-2">
                    <input [(ngModel)]="manhwa.rating" name="rating" type="text" class="form-control"  placeholder="Rating">
                    <label>Rating (?/10)</label>
                  </div>
                  <div class="form-floating mb-3">
                    <select [(ngModel)]="manhwa.genreId" name="genreid" class="form-control">
                        <option selected hidden disabled>Select Genre</option>
                       <option [value]="genre.id" *ngFor="let genre of genres">{{genre.name}}</option>
                    </select>
                  </div>
                  <button (click)="updateManhwa()" class="form-control btn btn-dark mt-2 fs-5"  style="width: 100px; height: 40px;">Update</button>
                  <button routerLink="/manhwa/Home" class="mt-2 fs-5 btn btn-danger" style="float: right; width: 100px; height: 40px;">Close</button>

            </form>
        <div class="col-6">
            <img [src]="manhwa.photo" alt="" style="width: 400px; margin-left: 800px; margin-top: -590px; height: 550px; ">
        </div>
    </div>
</div>